<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.6.1.css">
	<script src="https://code.jquery.com/qunit/qunit-2.6.1.js"></script>
	<script src="function_example.js" ></script> //Source of the function to test.

	<script>
		QUnit.test("Example Test", function( assert ){ //Run Qunit
			
			var variable_example = value_example //Input variables

			assert.equal(function_example(variable_example), "Expected Result") // What to test and what result we expect


			});

  </script>
</head>
<body>
 
<div id="qunit"></div>
 
</body>
</html>

		}